<!DOCTYPE html>
<html>
<head>
  <title>Fairview Phmarmacy Emergeny On-Call pager application></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <%= javascript_include_tag 'sites' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'shared/header' %>
 <%= render 'shared/top_body' %>
 <%= yield %>
</body>
</html>
