<!DOCTYPE html>
<html>
<head>
  <title>Fairview Phmarmacy Emergeny On-Call pager application></title>

  <link rel='stylesheet' href='http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css' >
  <script src='http://code.jquery.com/jquery-1.10.2.js'></script>
  <script src='http://code.jquery.com/ui/1.11.4/jquery-ui.js'></script>

  <!--link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
  <style>
      .ui-widget-header,.ui-state-default, ui-button{
          background:#b9cd6d;
          border: 1px solid #b9cd6d;
          color: #FFFFFF;
          font-weight: bold;
      }
  </style>
  <%= javascript_include_tag 'sites' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'shared/header' %>
 <%= render 'shared/top_body' %>
 <%= yield %>
</body>
</html>
